/* Imposta lo stile globale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Imposta lo sfondo nero e font stile DOS */
body {
    background-color: #000;
    color: #ffffff;
    font-family: 'Press Start 2P', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: auto; /* Permette lo scrolling */
}

/* Sfondo con puntini molto scuri e più distanziati */
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #000;
    background-image: radial-gradient(#222222 1px, transparent 1px);
    background-size: 40px 40px;
    animation: scrollBackground 30s linear infinite;
}

/* Container per il contenuto sopra lo sfondo */
.container {
    position: relative;
    z-index: 1;
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

/* Stile del titolo */
h1 {
    font-size: 24px;
    margin-bottom: 20px; /* Riduce lo spazio tra il titolo e la descrizione */
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    white-space: nowrap;
}

/* Blocco lampeggiante a destra del titolo */
.blinking-block {
    display: inline-block;
    width: 10px;
    height: 20px;
    background-color: #ffffff;
    margin-left: 5px;
    animation: blink 1s steps(2) infinite;
}

/* Animazione lampeggiante per il blocco */
@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    50.1%, 100% {
        opacity: 0;
    }
}

/* Scorrimento lento dello sfondo */
@keyframes scrollBackground {
    0% { background-position: 0 0; }
    100% { background-position: 0 100px; }
}

/* Stile per la descrizione */
.description {
    max-width: 1000px;
    margin: 10px auto 40px;
    font-size: 14px;
    line-height: 1.6;
    text-align: center;
}

/* Immagini e video nel media-item */
.media-item img, .media-item video {
    width: auto;
    max-width: 100%;
    height: auto;
    cursor: pointer;
    margin-bottom: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/
